theme: jekyll-theme-minimal
title: "Xiangjun Ren"
description: "Learning and Memory, Decision-making"
# URL for a user site should be https://<username>.github.io
url: "https://xiangjuan-ren1828.github.io"
baseurl: "" # empty for user/organization site
author:
  name: "Xiangjun Ren"
  email: "xiangjuanr@gmail.com"   # optional

plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap

markdown: kramdown

collections:
  projects:
    output: true
    permalink: /projects/:path/

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"

exclude:
  - "node_modules"
  - "vendor"
  
# Optional: social links you can use in templates
social_links:
  - name: "GitHub"
    url: "https://github.com/xiangjuan-ren1828"
  - name: "LinkedIn"
    url: ""
